<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div id="collapseNavbar" class="collapse navbar-collapse"> <!---navbar--collapse-on--->
        {{#unless isLoggedIn}}
        <a class="sidenav-brand" href="/"><image class="img img-logo" src="images/youlate_logo_sm.png" style="padding: 0; height: 4rem; width: auto;"></a>
        {{/unless}}
        <form class="form-inline ml-auto">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success ml-1" type="submit">Search</button>
        </form>
        {{#if isLoggedIn}}
            <button type="button" class="btn btn-outline-danger ml-auto btn-logout">Log out</button>  
        {{else}}
            <button type="button" class="btn btn-outline-info ml-auto btn-signin">Sign in</button>
        {{/if}}
    </div>
</nav>