<div class="sidenav col-1">
    <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
    <a class="sidenav-brand" href="/"><image class="img img-logo" src="images/youlate_logo_sm.png" style="padding: 0; height: 4rem; width: auto;"></a>
    <div class="container d-flex flex-column justify-center">
        
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        {{#if sidenav.dashboard}}
        <a href="/dashboard" class="link sidenav-link {{#if active.dashboard}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </div>
        </a>
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        {{/if}}

        {{#if sidenav.calendar}}
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        
        <a href="/calendar" class="link sidenav-link {{#if active.calendar}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="far fa-2x fa-calendar-alt"></i>
                <span>Calendar</span>
            </div>
        </a>
        {{/if}}

        {{#if sidenav.profile}}
        <a href="/profile" class="link sidenav-link {{#if active.profile}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-id-card-alt"></i>
                <span>Profile</span>
            </div>
        </a>
        {{/if}}
        
        {{#if sidenav.students}}
        <a href="/students" class="link sidenav-link {{#if active.students}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-users"></i>
                <span>Students</span>
            </div>
        </a>
        {{/if}}

        {{#if sidenav.courses}}
        <a href="/courses" class="link sidenav-link {{#if active.courses}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-book"></i>
                <span>Courses</span>
            </div>
        </a>
        {{/if}}

        {{#if sidenav.classrooms}}
        <a href="/classrooms" class="link sidenav-link {{#if active.classrooms}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-chalkboard-teacher"></i>
                <span>Classrooms</span>
            </div>
        </a>
        {{/if}}

        {{#if sidenav.manage}}
        <br>
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        <p class="w-100 text-center">Management</p>
        
        <a href="/manage/classrooms" class="link sidenav-link {{#if active.classrooms}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-chalkboard-teacher"></i>
                <span>Classrooms</span>
            </div>
        </a>
        <a href="/manage/courses" class="link sidenav-link {{#if active.classrooms}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-book"></i>
                <span>Courses</span>
            </div>
        </a>

        <a href="/manage/calendars" class="link sidenav-link {{#if active.classrooms}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-calendar-alt"></i>
                <span>Calendars</span>
            </div>
        </a>
        
        <a href="/manage/users" class="link sidenav-link {{#if active.classrooms}}sidenav-link-active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <div class="icon-container">
                <i class="fas fa-2x fa-users"></i>
                <span>Users</span>
            </div>
        </a>
        {{/if}}
    </div>
</div>