<div class="container-fluid d-flex justify-content-center align-items-center p-5">
    <form action="/authorization/sign-in" id='formSignIn' class="form-signin shadow-default radius-sm p-5 w-lg-25 w-md-25 w-sm-50 w-xs-50">
        <h2 id="formSignInTitle" class="page-title">Sign-in</h2>

        <label for="inputSignInUsername">UserName</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
            </div>
            <input type="text" name="inputSignInUsername" id="inputSignInUsername" class="form-control">
        </div>
        <label for="inputSignInPwd">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" name="inputSignInPwd" id="inputSignInPwd" class="form-control">
        </div>
        <br>
        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" name='checkSignInRemember' id="checkSignInRemember">
            <label class="form-check-label" for="checkSignInRemember">Remember me</label>
        </div>
        <br>
        <div class="form-end__button-group w-100 d-flex justify-content-center">
            <button id="btnFormSignIn" class="btn btn-primary">Sign in</button>
        </div>
        <br>
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        <br>
        <div class="w-100 d-flex justify-content-center">
            <span>Don't have account yet? <a id="linkSignUp" href="#">Sign up here</a></span>
        </div>
    </form>
    
    <form action="#" id="formSignUp" class="form-signup shadow-default radius-sm p-5 w-lg-25 w-md-25 w-sm-50 w-xs-50">
        <h2 id="formSignUpTitle" class="page-title">Sign-up</h2>
        <div id='signUpAlert' class='alert' style="display: none;"><strong>Success!</strong> <p id="signUpMessage"></p> </div>
        
        <label for="inputSignUpUsername">UserName</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
            </div>
            <input type="text" name="inputSignUpUsername" id="inputSignUpUsername" class="form-control">
        </div>
        <label for="inputSignUpPwd">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" name="inputSignUpPwd" id="inputSignUpPwd" class="form-control">
        </div>
        <label for="inputSignUpConfirmPwd">Re-Enter Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-redo"></i></i></div>
            </div>
            <input type="password" name="inputSignUpConfirmPwd" id="inputSignUpConfirmPwd" class="form-control">
        </div>
        <br>
        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" name='checkSignUpToU' id="checkSignUpToU">
            <label class="form-check-label" for="checkSignUpToU">By checking this box you accept our <a id='tempOfUseLink' href="#">Temp Of Use</a></label>

            <!-- The Modal -->
            <div class="modal" id="tempOfUseModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Term Of Use</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut qui iure laborum expedita dolore sequi molestiae rem non aliquid repudiandae facere sit vero minima in, blanditiis soluta suscipit a!.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quibusdam magnam consequuntur possimus delectus aliquid officiis in incidunt sit saepe recusandae amet excepturi impedit, id, dignissimos vero rerum pariatur. Sed.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque sint voluptate deleniti consequuntur officiis inventore corrupti commodi quasi! Vitae esse voluptatum in quisquam odio, labore dolor et. Soluta, voluptas?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, suscipit est distinctio dolores expedita ratione soluta nemo explicabo illo quod quidem ipsum mollitia obcaecati nam, rerum autem! Porro, esse ipsum?
                            </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>

                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="form-end__button-group w-100 d-flex justify-content-center">
            <button type="button" id='btnFormSignUp' class="btn btn-primary" disabled>Sign up</button>
        </div>
        <br>
        <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
        <br>
        <div class="w-100 d-flex justify-content-center">
            <span>Have account? <a id='linkSignIn' href="#">Sign in here</a></span>
        </div>
    </form>
</div>