<div class="d-flex justify-content-center container-fluid">
    <form action="/change-password" method="POST" id='formSignIn' class="form-signin shadow-default radius-sm p-5 w-lg-25 w-md-25 w-sm-50 w-xs-50">
    <h2 id="formSignInTitle" class="page-title">Sign-in</h2>
    <div id='signInAlert' class='alert' style="display: none;"><strong>Success!</strong> <p id="signInMessage"></p></div>
    <label for="inputSignInUsername">Current Password</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
        </div>
        <input type="text" name="inputCurrentPassword" id="inputCurrentPassword" class="form-control">
    </div>
    <label for="inputSignInPwd">New Password</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
        </div>
        <input type="password" name="inputNewPassword" id="inputNewPassword" class="form-control">
    </div>
    <label for="inputSignInPwd">Confirm Password</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
        </div>
        <input type="password" name="inputConfirmNewPassword" id="inputConfirmNewPassword" class="form-control">
    </div>
    <br>
    <div class="form-end__button-group w-100 d-flex justify-content-center">
        <button type="submit" id="btnFormChangePassword" class="btn btn-primary">Change</button>
    </div>
    <br>
    <div class="line-container d-flex justify-content-center"><div class="line"></div></div>
    
</form>
</div>
