<div class="container-fluid">
    <h2 class="page-title">Classes</h2>
    
    <form action="#" class="form-search">
        <div class="form-row">
            <div class="form-group col-3">
            <label for="classSearchInput">Search</label>
            <input id="classSearchInput" name="classSearchInput" type="text" class="form-control" placeholder="Name">
        </div>
            <div class="form-group col-3">
                <label for="selectCourseTopic">Course Topic</label>
                <select class="custom-select" id="selectCourseTopic">
                    <option selected>Course Topic</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-3">
                <label for="datePickerStart">Start Date</label>
                <input type="text" id="datePickerStart" name="datePickerStart" class="date-picker form-control">
            </div>
            <div class="form-group col-3">
                <label for="datePickerEnd">End Date</label>
                <input type="text" id="datePickerEnd" name="datePickerEnd" class="date-picker form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-3">
                <label for="selectStatus">Status</label>
                <select class="custom-select" id="selectStatus">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-3">
                <label for="selectStatus">Attendance Status</label>
                <select class="custom-select" id="selectAttendanceStatus">
                    <option selected>Attendance Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-3">
                <label for="selectCheckAttendance">Check Attendance</label>
                <select class="custom-select" id="selectCheckAttendance">
                    <option selected>Check Attendance</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-3">
                <div class="mb-2"><br></div>
                <button type="button" name="btnReset" id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i> Redo</button>
                <button type="button" name="btnCancel" id="btnCancel" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</button>
            </div>
        </div>

    </form>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Courses</th>
                <th scope="col">Status</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>
            <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>                    <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>                    <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>                    <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>                    <tr>
                <th scope="row">HHN001</th>
                <td>Hi, Huh Nei. Who I Knee</td>
                <td>preparing</td>
                <td>19/12/2022</td>
                <td>13/5/2022</td>
                <td>49</td>
            </tr>
        </tbody>
    </table>
    
    <nav class="pagination-navbar w-100" aria-label="Page">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>