<div class="container-fluid shadow-default">
    <h2 class="page-title">Courses</h2>
    
    <form action="#" class="form-inline form-search w-100">
        <div class="form-group w-100">
            <section>
                <div>
                    <label for="inputSearch">Search</label>
                    <input type="text" name="inputSearch" id="inputSearch" class="form-control" placeholder="Search ..." >
                </div>
                <div>
                    <label for="selectStatus">Status</label>
                    <select class="custom-select" id="selectStatus">
                        <option selected>Status</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseLine">Course Line</label>
                    <select class="custom-select" id="selectCourseLine">
                        <option selected>Course Line</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseTopic">Course Topic</label>
                    <select class="custom-select" id="selectCourseTopic">
                        <option selected>Course Topic</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnReset" id="btnReset" class="btn btn-secondary"><i class="fas fa-redo"></i> Redo</button>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnCancel" id="btnCancel" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</button>
                </div>
            </section>
        </div>
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Short</th>
                <th scope="col">Course Line</th>
                <th scope="col">Course Topic</th>
                <th scope="col">Status</th>
                <th scope="col">CA <i class="fas fa-long-arrow-alt-down"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hoc Lam Nguoi</th>
                <td>HLN</td>
                <td>0+</td>
                <td>Social</td>
                <td>Free To Play</td>
                <td>13/4/2021</td>
            </tr>
            <tr>
                <th scope="row">Hoc Lam Nguoi</th>
                <td>HLN</td>
                <td>0+</td>
                <td>Social</td>
                <td>Free To Play</td>
                <td>13/4/2021</td>
            </tr>
            <tr>
                <th scope="row">Hoc Lam Nguoi</th>
                <td>HLN</td>
                <td>0+</td>
                <td>Social</td>
                <td>Free To Play</td>
                <td>13/4/2021</td>
            </tr>
            <tr>
                <th scope="row">Hoc Lam Nguoi</th>
                <td>HLN</td>
                <td>0+</td>
                <td>Social</td>
                <td>Free To Play</td>
                <td>13/4/2021</td>
            </tr>
            <tr>
                <th scope="row">Hoc Lam Nguoi</th>
                <td>HLN</td>
                <td>0+</td>
                <td>Social</td>
                <td>Free To Play</td>
                <td>13/4/2021</td>
            </tr> 
        </tbody>
    </table>

    <nav class="pagination-navbar" aria-label="Page">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>