<div class="container d-flex px-5 align-items-center">
    <div class="w-20 ml-5 mr-0">
        <h1 class="mx-auto mt-2"><strong style="color:#dc3545">Error: {{errTitle}}</strong></h1>
        <p class="mx-auto mt-2" style="font-size:20px"><strong>{{errMess}}</strong></p>
    </div>
    <img src="\images\AccessDenied.png" alt="AccessDenied" class="mx-auto">
</div>