

<div class="container d-flex px-5 align-items-center">
    <img src="\images\youlate_logo_sm.png" alt="YouLate logo" class="mx-auto">
</div>
<div class="container d-flex px-5 justify-content-center">
    <h1>Welcome to YouLate</h1>
</div>

