<div class="container-fluid d-flex flex-column p-5 justify-content-center align-items-center" style="min-height: 60vh;">
    <img src="\images\youlate_logo_sm.png" alt="YouLate logo" class="mx-auto">
    <h1>Welcome to YouLate</h1>
</div>
