<div class="container-fluid shadow-default">
    <h2 class="page-title">View Students</h2>

    <form action="#" class="form-inline form-search w-100">
        <div class="form-group w-100">
            <section>
                <div>
                    <label for="selectStatus" class="text-center">Year</label>
                    <select class="custom-select" id="selectStatus">
                        <option value="1" selected>2018</option>
                        <option value="2">2019</option>
                        <option value="3">2020</option>
                        <option value="4">2021</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseLine" class="text-center">Semester</label>
                    <select class="custom-select" id="selectCourseLine">
                        <option selected>Select Semester</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseLine" class="text-center">Course Name</label>
                    <select class="custom-select" id="selectCourseLine">
                        <option selected>Select Course</option>
                        <option value="1">Requirement Engineering</option>
                        <option value="2">Application Design</option>
                        <option value="3">Internet Of Things</option>
                    </select>
                </div>
                <div>
                    <label for="selectCourseLine" class="text-center">Class</label>
                    <select class="custom-select" id="selectCourseLine">
                        <option selected>Select Class</option>
                        <option value="1">18CLC1</option>
                        <option value="2">18CLC2</option>
                        <option value="3">18CLC3</option>
                    </select>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnReset" id="btnReset" class="btn btn-secondary"><i
                            class="fas fa-redo"></i> Redo</button>
                </div>
                <div>
                    <br>
                    <button type="button" name="btnCancel" id="btnCancel" class="btn btn-secondary"><i
                            class="fas fa-times"></i> Cancel</button>
                </div>
            </section>
        </div>
    </form>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col" colspan="4">Requirement Engineering</th>
            </tr>
            <tr>
                <th scope="col">Students</th>
                <th scope="col">Mssv</th>
                <th scope="col">Absent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" class="text-decoration-none">01. Hoc Lam Nguoi</a></td>
                <td>18127077</td>
                <td>4</td>
            </tr>
            <tr>
                <td><a href="#" class="text-decoration-none">02. Hoc Lam Nguoi</a></td>
                <td>18127077</td>
                <td>2</td>
            </tr>
            <tr>
                <td><a href="#" class="text-decoration-none">03. Hoc Lam Nguoi</a></td>
                <td>18127077</td>
                <td>0</td>
            </tr>
            <tr>
                <td><a href="#" class="text-decoration-none">04. Hoc Lam Nguoi</a></td>
                <td>18127077</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

    <nav class="pagination-navbar" aria-label="Page">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>